[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[scripts]
dev = "python debug.py"
prod = "python -m src"

[dev-packages]
mongomock = "==3.16.0"

[packages]
werkzeug = "==0.14.1"
flask = "==1.0.2"
flask-failsafe = "==0.2"
flask-dance = "==1.1.0"
flask-restful = "==0.3.7"
requests = "==2.9.1"
gevent = "==1.3.6"
retrying = "==1.3.3"
mongoengine = "==0.17.0"
dataclasses-jsonschema = "==2.3.0"
pytest = "==4.3.1"
PyYAML = "==3.13"

[requires]
python_version = "3.7"
